.mypage-container{
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1;
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.profile-box{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px 30px;
}

.profile-info ul {
  padding-left: 15px;
}

.profile-info ul li{
  margin: 10px 0 10px 0;
  font-size: 20px;
  word-wrap: break-word;
}

.add-space{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.add-space-box{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px 30px;
}
.add-space-box-content{
  display: flex;
}

.add-space-box-content ul {
  padding-left: 15px;
}

.add-space-box-content ul li{
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.add-space-info-1{
  /* flex: 1; */
  width: 100%;
}

.li-box {
  display: flex;
  justify-content: space-between;
}
/* .add-space-info-2{
  flex: 2;
}
.add-space-info-2 ul li{
  list-style: none;
} */
.mypage-btn{
  float: right;
  background-color: rgb(80 87 134);
  color: white;
}