.btn{
  display: flex;
  justify-content: center;
  margin: 30px 0;

}

.modify-btn{
  background-color: rgb(80 87 134);
  color: white;
  margin: 10px;
}
.delete-btn{
  background-color: rgb(80 87 134);
  color: white;
  margin: 10px;
}