.create-container{
  display: flex;
  align-items: center;
  flex: 1;
}

.image-upload{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  align-items: center;
}

.image-container {
  width: 80%;
}

.upload-btn{
  margin: 20px;
  background-color: rgb(80 87 134);
  color: white;
}

.content-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-box {
  margin: 20px 0;
}
.label {
  writing-mode: horizontal-tb;
  color: white;
}

.form{
  width: 100%;
  margin-right: 20px;
}

.form-item {
  margin: 0;
}

.label{
  display: flex;
  flex-direction: column;
  color: white;
}

.label div{
  position: relative;
  margin: 0 10px 26px 0;
  top: 10px;
}
.register-btn{
  /* float: right; */
  margin-top: 30px;
  /* margin-right: 180px; */
  background-color: rgb(80 87 134);
  color: white;
}